<!-- --------------------------- BLOCK EXTENSION --------------------------- -->
{% extends "layout.html" %} {% block content %}

<h1 class = 'welcome'>About</h1>


<div class='detailss'>
    <h1 class='heading'>
<h1 class='heading'>Carat</h1> A carat is equal to 200mg. Further, 1 carat is divided into 100 division. 
<h1 class='heading'>Cut </h1> Cut refers the way the diamond is shaped. It has a large impact of the brilliance(shining).
<h1 class='heading'>Clarity </h1> It refers to the amount of blemishes, different types of clarity :
    a. Flawless (FL) No inclusions and no blemishes visible under 10x magnification
    b. Internally Flawless (IF) No inclusions visible under 10x magnification
    c. Very, Very Slightly Included (VVS1 and VVS2) Inclusions so slight they are difficult for a skilled grader to see under 10x magnification
    d. Very Slightly Included (VS1 and VS2) Inclusions are observed with effort under 10x magnification, but can be characterized as minor
    e. Slightly Included (SI1 and SI2) Inclusions are noticeable under 10x magnification
    f. Included (I1, I2, and I3) Inclusions are obvious under 10x magnification which may affect transparency and brilliance
In our dataset, we have only I1,IF,VS1,VS2,VVS1,VVS2,SI1 and SI2.
<h1 class='heading'>Colour</h1>  Colour actually means lack of colour in diamond. The colours are D-J (worst to best).
<h1 class='heading'>Dimensions </h1> The length, width and height of diamond(x,y and z respectively).

</div>
<div class='college-logo'>
    <image src='/static/skull3.png'  ></image>
    </div>

<div class = 'square'>
    
    <span></span>
    <span></span>
    <span></span>
    <div class = 'home-page-square-content'>
        <h2 class='home-page-square-title'> Who we are?
            
        </h2>
        <p>A group of students interested in Data Analysis, Machine Learning, Problem Solving and Web Development.
        </p>
        
    </div>
</div>
<div class='college-logo'>
    <image src='/static/college-logo.png'  ></image>
    </div>
{% endblock content %}