<!-- --------------------------- BLOCK EXTENSION --------------------------- -->
{% extends "layout.html" %} {% block content %}



<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contacts.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<body>

    <div class="middle">
        <h1 class= "nametag">Ankit Oscar Xalxo</h1>
    
    <a class="btn" href="https://github.com/ankitoscar">
        <i class="fab fa-github"></i>
    </a>
    <a class="btn" href="https://www.instagram.com/ankit.oscar">
    <i class="fab fa-instagram"></i>
    </a>



    <h1 class= "nametag">Siddharth Sharma</h1>
    <a class="btn" href="https://www.facebook.com/profile.php?id=100004640645021">
    <i class="fab fa-facebook-f"></i>
    </a>
    <a class="btn" href="https://twitter.com/siddhar50384612">
    <i class="fab fa-twitter"></i>
    </a>
    <a class="btn" href="https://github.com/pao0318">
        <i class="fab fa-github"></i>
    </a>
    <a class="btn" href="https://www.instagram.com/_pao_0318">
    <i class="fab fa-instagram"></i>
    </a>
    <a class="btn" href="https://www.youtube.com/channel/UClC4AD7wWgmKW0CLVG-FPAw">
    <i class="fab fa-youtube"></i>
    </a>
    
    <h1 class= "nametag">Tanishq Dubey </h1>
    <a class="btn" href="https://www.facebook.com/TanishqTheBest">
    <i class="fab fa-facebook-f"></i>
    </a>
    <a class="btn" href="https://github.com/tanishq12442">
        <i class="fab fa-github"></i>
    </a>
    <a class="btn" href="https://www.instagram.com/tanishq12442">
    <i class="fab fa-instagram"></i>
    </a>




    <h1 class= "nametag">Biplov Pokhrel </h1>
    <a class="btn" href="https://www.facebook.com/pbplop29">
    <i class="fab fa-facebook-f"></i>
    </a>
    <a class="btn" href="https://twitter.com/pokhrel_biplov">
    <i class="fab fa-twitter"></i>
    </a>
    <a class="btn" href="https://github.com/pbplop29">
        <i class="fab fa-github"></i>
    </a>
    <a class="btn" href="https://www.instagram.com/_bplop_/">
    <i class="fab fa-instagram"></i>
    </a>
    <a class="btn" href="https://www.youtube.com/channel/UCdfMlvyh4zToY4EF8RqcInA">
    <i class="fab fa-youtube"></i>
    </a>





    









</div>


</body>
{% endblock content %}