
<!-- --------------------------- BLOCK EXTENSION --------------------------- -->
{% extends "layout.html" %} {% block content %}

</div>
<div class='college-logo'>
    <image src='/static/skull2.png'  ></image>
    </div>
<div class = 'square'>

    <span></span>
    <span></span>
    <span></span>
    <div class = 'home-page-square-content'>
        <h2 class='home-page-square-title'> Blimey!</h2>
        <p>Your diamonds are worth <h1 class='home-page-square-title'>$  {{output}}.</h1></p>
        
    </div>
</div>


{{xx}}
{% endblock content %}



